<!DOCTYPE html>
<html>
  
  <head lang="en">
    <meta charset="UTF-8">
    <title>Stock Analysis Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="./css/site.css" rel="stylesheet">
    <link href="./css/datepicker.css" rel="stylesheet">
    <link rel="stylesheet" href="./js/bootstrap-dialog/css/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="./js/jBootsrapPage.css" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="./js/jquery.min.js"></script>
    <script src="./js/highcharts.js"></script>
    <script src="./js/plate_stock.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/bootstrap-dialog/js/bootstrap-dialog.min.js"></script>
    <script src="./js/jBootstrapPage.js"></script>
    <script src="./js/bootstrap-datepicker.js"></script>
    <style>
      .inline li {
            display: inline;
        }
        #loading-indicator {
          position: fixed;
          left: 50%;
          top: 10%;
        }
    </style>
  </head>
  
  <body>
    <img src="/img/loading.gif" id="loading-indicator" style="display:none" />
    <div class="container">
      
      <div class="navbar">
      <div class="navbar-inner">
          <div class="container">  
              <div class="nav-collapse">
                  <ul class="nav" id="nav">
                      <li>
                          <a href="/">根据行业分类</a>
                      </li>
                      <li>
                          <a href="#" onclick=loadConcept()>根据概念分类</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>

      <!--nav end -->
      <div class="row">
        <div class="span3">
          <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list" id="plate"></ul>
          </div>
        </div>
        <!-- left-->
        <div class="span9">
          <div id="chart_jll" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
          <div id="chart_price" style="min-width: 300px; min-height: 700px; margin: 0 auto"></div>
           <!-- Button trigger modal -->
          <button type="button" id="btnShowFullImg" class="btn btn-primary btn-lg" data-toggle="modal" >
            显示大图
          </button>
          <button type="button" id="btnSelectAll" class="btn btn-primary btn-lg" data-toggle="modal" >
            全选/反选
          </button>
          <div id="chkList"></div>
          <div>
            <div class="control-group">
              <label class="control-label" for="inputStartDate">开始日期</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="inputStartDate" />*</div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputEndDate">截止日期</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="inputEndDate" />*</div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="inputTxt">输入股票代码用英文逗号隔开</label>
              <textarea id='inputTxt' class="form-control" cols="60" rows="4" style="min-width:400px"></textarea>
              <input type="button" class="btn btn-default" id="btnSubmit" value="分析自选股" />
            </div>
            
            <div class="control-group">
              <label class="control-label" for="inputCode">输入股票代码查询所属板块与概念</label>
              <textarea id='inputCode' class="form-control" cols="60" rows="4" style="min-width:400px"></textarea>
              <input type="button" class="btn btn-default" id="btnPlateCheck" value="查询" />
            </div>
            
          </div>
        </div>
      </div>
      
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
             <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
      </div>
        <div id='modal-body'>
          <div id='full_price_chart' style="width:90%;height:100%;; margin: 0 auto"></div>
      </div>
        </div>
      </div>
    </div>

    </div>
    <script>
         // 对Date的扩展，将 Date 转化为指定格式的String
        // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符， 
        // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字) 
        // 例子： 
        // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423 
        // (new Date()).Format("yyyy-M-d h:m:s.S")      ==> 2006-7-2 8:9:4.18 
        Date.prototype.Format = function (fmt) { //author: meizz 
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "h+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
            if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
  
         $(document).ajaxSend(function(event, request, settings) {
              $('#loading-indicator').show();
          });
  
          $(document).ajaxComplete(function(event, request, settings) {
              $('#loading-indicator').hide();
          });
  
            function fillPEdata(list){
              var opt={
                  chart: {
                      type: 'column'
                  },
                  title: {
                      text: 'Stock Analysis Demo'
                  },
                  subtitle: {
                      text: 'A股盈利能力分析'
                  },
                  xAxis: {
                      type: 'category',
                      labels: {
                          rotation: -45,
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  },
                  yAxis: {
                      min: 0,
                      title: {
                          text: '盈利率'
                      }
                  },
                  legend: {
                      enabled: false
                  },
                  tooltip: {
                      pointFormat: '当前盈余报酬率: <b>{point.y:.3f} </b>'
                  },
                  series: [{
                      name: '权益净利率',
                      data: list,
                      dataLabels: {
                          enabled: true,
                          rotation: -90,
                          color: '#FFFFFF',
                          align: 'right',
                          format: '{point.y:.2f}', // one decimal
                          y: 10, // 10 pixels down from the top
                          style: {
                              fontSize: '13px',
                              fontFamily: 'Verdana, sans-serif'
                          }
                      }
                  }]
              };
  
              $('#chart_jll').highcharts(opt);
              //
            }
            
         var gPriceOption=null;
  
         function fillPriceData(xAxisData,yData){
            gPriceOption={
                 title: {
                     text: '近2月收盘价趋势分析',
                     x: -20 //center
                 },
                 subtitle: {
                     text: '收盘价趋势',
                     x: -20
                 },
                 	plotOptions: {
                    series: {
                        marker: {
                            radius: 1,  //曲线点半径，默认是4，设为0时隐藏点
                            symbol: 'diamond' //曲线点类型："circle", "square", "diamond", "triangle","triangle-down"，默认是"circle"
                        }
                    }
                },
                 xAxis: {
                     categories: xAxisData
                 },
                 yAxis: {
                     title: {
                         text: '收盘价 (元)'
                     },
                     plotLines: [{
                         value: 0,
                         width: 1,
                         color: '#808080'
                     }]
                 },
                 tooltip: {
                     valueSuffix: ''
                 },
                 legend: {
                     layout: 'vertical',
                     align: 'right',
                     verticalAlign: 'middle',
                     borderWidth: 0
                 },
                 series: yData
             };
             $('#chart_price').highcharts(gPriceOption);
             addSeriesChkbx();
         }
  
            function fetchPEData(arr) {
              fetchPEFromCache(arr);
              /* realtime data
              var stocks={"arr":arr};
              $.ajax({
                  type : "POST",
                  url : "/get",
                  data: JSON.stringify(stocks),
                  contentType: 'application/json;charset=UTF-8',
                  success: function(msg) {
                       var list=[];
                          var obj=msg;
                          if(obj && obj.results){
                            obj.results.forEach(function(element) {
                              if(element.length>1){
                                if(element[1]!=0){
                                 var tmp=[element[0],element[1]*100];
                                 list.push(tmp);
                                }
                               
                              }
                            }, this);
                          }
                          fillPEdata(list);
                  }
              });*/
              
            }
            
            function fetchPEFromCache(arr) {
              var list=[];
              arr.forEach(function (ele) {
                var obj=gRatio[ele];
                if(obj){
                  list.push([obj[0]+' '+ele,obj[1]]);
                }
              })
              
              list.sort(function (a,b) {
                return b[1]-a[1];
              });
              
              fillPEdata(list);
            }
  
            function fetchPriceData(arr,startDate,endDate){
                var data={"codes":arr,"start":startDate,"end":endDate};
                $.ajax({
                    type : "POST",
                    url : "/gethist",
                    data: JSON.stringify(data),
                    contentType: 'application/json;charset=UTF-8',
                    success: function(msg) {
                        var list=[];
                        var obj=msg;
                        if(obj && obj.results){
                              var axisData=obj.results[0];
                              var yData=obj.results[1];
                              fillPriceData(axisData,yData);
                        }
                    }
                });
  
            }
            
            function onPlateClick(ele){
                var plate=$(ele).text();
                var arr=gPlate[plate];
                fetchPEData(arr);
                var d=getStartEndDate();
                fetchPriceData(arr,d[0],d[1]);
                $('#inputTxt').val(arr.join(','));
            }
            
            function onConceptClick(ele) {
                var cxpt=$(ele).text();
                var tmp=gConcept[cxpt];
                var arr=[];
                if(tmp){
                  for (var index = 0; index < tmp.length; index++) {
                    arr.push(tmp[index][0]);
                  }
                  fetchPEData(arr);
                  var d=getStartEndDate();
                  fetchPriceData(arr,d[0],d[1]);
                  $('#inputTxt').val(arr.join(','));         
                }
            }
  
            function loadPlate(){
                  var plateEle=$('#plate');
                    $("#plate").empty();
                  for (var plate in gPlate) {
                      $("#plate").append('<li><a href="#" onclick=onPlateClick(this)><span class="tab">'+plate+'</span></a></li>');
                  }
            }
            
            function loadConcept() {
                  var plateEle=$('#plate');
                  $("#plate").empty();
                  
                  for(var c in gConcept){
                       $("#plate").append('<li><a href="#" onclick=onConceptClick(this)><span class="tab">'+c+'</span></a></li>');
                  }
                                
            }
            
            function getStartEndDate() {
                var end=$('#inputEndDate').val();
                var start=$('#inputStartDate').val();
                return [start,end];
            }
            
            function getPlate(code) {
                for(var item in gPlate){
                  var arr=gPlate[item];
                  if($.inArray(code,arr)>=0)
                    return item;
                }
                return '';
            }
            
            function getConcept(code) {
              var dst=[];
              for (var key in gConcept) {
                  var arr=gConcept[key];
                  for (var index = 0; index < arr.length; index++) {
                    var tuple = arr[index];
                    if(tuple[0]==code)
                      dst.push(key);
                  }
              }
              return dst;
            }
            
            function showSeriesByNames(names){
                 var chart=$('#chart_price').highcharts();
                 var series=chart.series;
                 series.forEach(function (c) {
                   var name =c.name;
                   var s=$(c);
                   if(names.indexOf(name)>=0){
                      c.show();
                   }
                 });
            }
            
            function hideSeriesByNames(names){
                 var chart=$('#chart_price').highcharts();
                 var series=chart.series;
                 series.forEach(function (c) {
                   var name =c.name;
                   var s=$(c);
                   if(names.indexOf(name)>=0){
                      c.hide();
                   }
                 });
            }
            
            function addSeriesChkbx() {
                 $('#chkList').empty();
                 var chart=$('#chart_price').highcharts();
                 var series=chart.series;
                 series.forEach(function (c) {
                   var name =c.name;
                   var chk=$("<span>"+name+": <input type='checkbox' value='"+name+"'  checked=true/></span> ");
                    $('#chkList').append(chk);
                    chk.find('input[type=checkbox]:first').on('click',function () {
                      var ischked=$(this).is(':checked');
                      if(ischked)
                        showSeriesByNames([name]);
                      else
                        hideSeriesByNames([name]);
                    });
                 });
                                  
            }
            
  
            $(function () {
               var tmp=new Date();
              tmp.setDate(new Date().getDate()-60);
              var end=new Date().Format("yyyy-MM-dd");
              
              var start= tmp.Format("yyyy-MM-dd");
              
              var inputStartDate=$('#inputStartDate').datepicker({
                format: 'yyyy-mm-dd'
              });
              var inputEndDate=$('#inputEndDate').datepicker({
                format: 'yyyy-mm-dd'
              });
              
              inputStartDate.val(start);
              inputEndDate.val(end);
              
          
              loadPlate();
              $('#btnSubmit').click(function () {
                var str=$('#inputTxt').val();
                var codes=str.split(',');
                if(codes.length>0)
                  fetchPEData(codes);
                  
                 var datearr=getStartEndDate();
                 fetchPriceData(codes,datearr[0],datearr[1]);
                   
              });
              
              $('#btnPlateCheck').click(function () {
                  var code=$('#inputCode').val();
                  var plate=getPlate(code);
                  var concept=getConcept(code);
                  var str=code +" 所属行业："+plate+' 概念: '+concept.join(',');
                  BootstrapDialog.alert(str);
              });
              
              $('#btnShowFullImg').click(function () {
                if(gPriceOption){
                  $('#full_price_chart').highcharts(gPriceOption);
                  $('#myModal').modal('toggle');
                }
                
              });
              
              $('#btnSelectAll').click(function () {
                 var isselected=$('#chkList').find('input[type=checkbox]:first').is(':checked');
                 
                 var chart=$('#chart_price').highcharts();
                 var series=chart.series;
                 series.forEach(function (c) {
                   if(isselected){
                      c.hide();
                      $('#chkList').find('input[type=checkbox]').each(function(){
                        this.checked=false;
                      });
                   }
                    else{
                      c.show();
                      $('#chkList').find('input[type=checkbox]').each(function(){
                        this.checked=true;
                      });
                    }
                 });
                
              });
          });
    </script>
    
  </body>
  <script src="./js/concept.js"></script>
  <script src="./js/ratio.js"></script>
</html>